* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    color: $dark-grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: $m-size; // 1.6 * 62.5 = 100 so 1.6rem is 16px (huh? unstyled body font is 10px... so?)
    line-height: 1.6;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.is-active {
    font-weight: bold;
}